@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Change body theme (bg color) */

:root {
    --primary-black-color: #45474B;
    --primary-white-color: #F5F7F8;
    --secondary-color-yellowish: #F4CE14;
    --secondary-color-greenish: #495E57;

    /* Cahnge background */
    --background-color: var(--primary-white-color);
    --text-color: var(--primary-black-color);
}
  
.dark-theme {
    --background-color: var(--primary-black-color);
    --text-color: var(--primary-white-color);
}
  
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans;
}

.chat-bot{
    animation: chatBot 1s ease-in-out forwards;
}

.chat-bot-close {
    animation: chatBotClose 0.5s ease-in forwards;
}

@keyframes chatBot {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes chatBotClose {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
        visibility: hidden;
    }
}

  